@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding-top: 70px;
  min-height: 150vh;
  background: linear-gradient(135deg, #5cff68, #05caff);
  background-repeat: no-repeat;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c4c;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}
.navbar {
  overflow: hidden;
  position: fixed;
  background-color: #1b2731;
  top: 0;
  width: 100%;
  height: 70px;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.nav-content {
  display: contents;
}
.navbar h3 {
  margin: 0;
  padding: 0;
  display: inline;
}
.container {
  display: grid;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-inline: 90px;
}
.header {
  margin-bottom: 50px;
  max-width: 800px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.title {
  display: inline-block;
  font-size: 1rem;
}
.title h1 {
  font-size: 1.8rem;
}
.title::after {
  display: block;
  content: " ";
  width: calc(100% + 25px);
  height: 4px;
  margin-top: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: linear-gradient(135deg, #5cff68, #05caff);
}

.bullet-points {
  padding-top: 1rem;
  padding-left: 1.5rem;
}
.video{
  margin-left: auto;
  border: 2px solid black;

}
/* ============================================================================== */
/* Speaker Cards */

:root {
  --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.speaker-container {
  overflow: hidden;
  box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 31%;
  margin-inline: 1.1%;
  margin-bottom: 25px;
}
.speaker-container::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-21deg);
}
.speaker-container:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

#price-tag {
  position: absolute;
  width: 75px;
  height: 30px;
  left: 12px;
  top: 12px;
  z-index: 100;
}

#price {
  color: black;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  padding: 2px 10px;
  position: absolute;
  left: 25px;
  top: 12px;
  z-index: 105;
}

.banner-img {
  position: absolute;
  background-image: url(https://www.doit-intl.com/wp-content/uploads/2019/01/5c709-1ecs_g06obsiswvlwsvu-oq.png);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 8rem;
  clip-path: circle(60px at center);
  margin-top: 4.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 1.5rem;
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

.description::before {
  display: block;
  content: " ";
  width: 100%;
  height: 4px;
  margin-bottom: 12px;
  border-radius: 5px;
  background: linear-gradient(135deg, #5cff68, #05caff);
}

.timings {
  font-weight: 600;
  margin-bottom: 8px;
}

.timings p {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #000000;
  padding: 1px 8px 1px 8px;
  font-size: 16px;
  margin: 4px;
}

.timings p i {
  margin-right: 6px;
}

.btn {
  cursor: pointer;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: #1b2731;
}

@media (max-width: 800px) {
  .header {
    margin-bottom: 25px;
    padding: 25px 20px;
    text-align: center;
  }
  .title h1 {
    line-height: 2.2rem;
  }
  .title::after {
    width: 100%;
  }
  .container {
    padding-inline: 20px;
    margin-bottom: 0px;
    margin-top: 25px;
  }
  .wrapper-flex {
    flex-direction: column;
    margin-bottom: 0;
  }
  .speaker-container {
    width: 100%;
    margin-bottom: 25px;
  }
}