@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding-top: 70px;
  min-height: 100vh;
  background: linear-gradient(135deg, #5cff68, #05caff);
  background-repeat: no-repeat;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c4c;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}
.navbar {
  overflow: hidden;
  position: fixed;
  background-color: #1b2731;
  top: 0;
  width: 100%;
  height: 70px;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.nav-content {
  display: contents;
}
.navbar h3 {
  margin: 0;
  padding: 0;
  display: inline;
}
.container {
  padding-inline: 90px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
}
.fields {
    width: 65%;
    margin-right: 3%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}
.title {
  display: inline-block;
  font-size: 1rem;
}
.title h1 {
  font-size: 1.8rem;
}
.title::after {
  display: block;
  content: " ";
  width: calc(100% + 25px);
  height: 4px;
  margin-top: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: linear-gradient(135deg, #5cff68, #05caff);
}
.container .sub-title {
  font-size: 19px;
  font-weight: 500;
  position: relative;
  padding-top: 5px;
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box select:focus {
  border-color: #1b2731;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
form .button {
  height: 45px;
  margin-top: 15px;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #1b2731;
}
form .button input:hover {
  /* transform: scale(1.02); */
  background-color: #1b2731;
  opacity: 150px;
}

/* ============================================================================== */
/* SPEAKER SECTION  */
#speaker-container {
    width: 25%;
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}
#speaker-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
#speaker-img {
  height: 145px;
  width: 145px;
  border-radius: 50%;
  margin-bottom: 10px;
}
#speaker-name {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding: 5px;
}
#speaker-intro {
  text-align: center;
}

/* via https://codepen.io/bphillips201/pen/npKoJM  */
.social {
  margin-top: 20px;
  text-align: center;
  font-size: 1.4rem;
  color: #1b2731;
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

i {
  margin: 0.8em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}

#twitter:hover {
  color: #77ddf6;
}

#github:hover {
  color: black;
}

#linkedin:hover {
  color: #0177b5;
}

#youtube:hover {
  color: #ec0b16;
}

@media (max-width:800px) {
  .container {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-inline: 20px;
    flex-direction: column;
  }
  .fields {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
    padding: 25px 20px;
  }
  .content form .user-details {
    flex-direction: column;
  }
  form .user-details .input-box {
    width: unset;
  }
  #speaker-container {
    width: 100%;
  }
}